/* 
    - Font sizes (px)
    10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

    - Spacing system (px)
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

    - Font weights
    Default: 400
    Medium: 500
    Semi-bold: 600
    Bold: 700

    - Line heights
    Default: 1
    Small: 1.05
    Medium: 1.2
    Paragraph default: 1.6
    Large: 1.8

    - Letter spacing
    -0.5px
    0.75px
 */

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  margin: 3.2rem 0 3.2rem;
}

.logo {
  height: 9.6rem;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav {
  border-bottom: #122750 2px solid;
  padding-bottom: 10px;
}
.main-nav-list {
  list-style: none;
  display: flex;
  gap: 3.2rem;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #184490;
  font-weight: 500;
  font-size: 1.6rem;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #122750;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #1360e2;
  text-align: center;
}

.main-nav-link:hover,
.main-nav-link:active {
  font-weight: 700;
  color: #1360e2;
}

/**************************/
/* HERO SECTION */
/**************************/

.hero {
  display: grid;
  grid-template-columns: 2fr 6fr;
  padding-left: 4.8rem;
  margin-bottom: 12.8rem;
  align-items: center;
  justify-content: center;
}

.hero-img {
  display: block;
  width: 100%;
  height: 75dvh;
  padding: 0 4.8rem 0 4.8rem;
}

.hero-text-box-text {
  font-size: 2.4rem;
  color: #184490;
  font-weight: 500;
}

.chat-icon {
  height: 48px;
  width: 48px;
  color: #eef8ff;
  background-color: #122750;
  stroke: currentColor;
  padding-left: 1.2rem;
}

.cta {
  display: flex;
  margin: 70px 10px 0 10px;

  border-radius: 9px;
  color: #fff;
  background-color: #122750;
  text-decoration: none;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}

.cta:hover,
.chat-icon:hover {
  background-color: #1360e2;
}

/**************************/
/* ABOUT US SECTION */
/**************************/

.about-us-section {
  width: 130rem;
  margin-top: 3.2rem;
  margin: 0 auto;
  margin-bottom: 9.6rem;
}
.about-us-img {
  height: 50rem;
  place-self: center;
}

.grid-mision {
  display: inline-grid;
}
.grid-mision p {
  margin-bottom: 3.2rem;
}

.about-us-box-title {
  display: flex;
  font-size: 2rem;
  color: #184490;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

.about-us-box-title span {
  margin-right: 12px;
}

.mision-icon {
  color: #184490;
  height: 24px;
  width: 24px;
}

.valores-icon {
  color: #184490;
  height: 24px;
  width: 24px;
  padding-right: 1.2rem;
}

.about-us-parrafo {
  font-size: 1.8rem;
  margin-bottom: 4.8rem;
  letter-spacing: 0.75px;
  line-height: 1.5;
  font-weight: 500;
}

.about-us-box-text {
  font-size: 1.8rem;
  letter-spacing: 0.75px;
  line-height: 1.5;
  font-weight: 500;
  margin-bottom: 1.8rcap;
}

.about-us-box-list {
  align-items: center;
  list-style: none;
  font-size: 1.8rem;
}

.about-us-box-list li {
  display: flex;
  align-items: center;
}
.valores-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2.4rem;
}

/**************************/
/* PERFIL EMPRESARIAL SECTION */
/**************************/
.perfil-empresarial-section {
  display: grid;
  grid-template-columns: 65fr 35fr;
  background-color: #122750;
  margin-bottom: 9.6rem;
  margin-top: 9.6rem;
}

.perfil-empresarial-text {
  background-color: #122750;
}

.perfil-empresarial-text {
  align-self: center;
  padding: 25px 25px;
  background-color: #122750;
  color: #eef8ff;
  font-size: 3.6rem;
}

.perfil-empresarial-img {
  opacity: 0.3;
}

/**************************/
/* OUR CLIENTS SECTION */
/**************************/

.clients-container {
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 6.4rem;
  transition: all 0.5s ease;
}
.clients-grid {
  display: grid;
  column-gap: 2.4rem;
  row-gap: 6rem;
  margin: 2.4rem 24rem;
}

.building-img {
  transition: all 0.4s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  vertical-align: middle;
  width: 100%;
  height: 200px;
  border-radius: 5%;
}

.building-img:hover {
  transform: scale(1.1);
}

.apartments-data {
  display: flex;
  justify-content: left;
  align-items: center;
  font-size: 1.4rem;
  padding: 1.2rem 0;
  color: #184490;
}

.client-box p {
  margin: 12px 0 0 0;
  font-size: 1.4rem;
  font-weight: 600;
}

.apartment-count {
  margin-left: 12px;
  color: #184490;
}
.apt-icon {
  width: 24px;
  height: 24px;
}

.disp-img {
  width: 100%;
}

.client-box-contact-title {
  font-size: 1.8rem !important;
}
.steps-items {
  color: #122750;
  margin-top: 12px;
  padding-left: 12px;
  font-size: 1.6rem;
}

/**************************/
/* Mantenimiento de areas comunes SECTION */
/**************************/

.tipo-mantenimientos {
  margin-bottom: 12.8rem;
}

.card {
  background-color: #184490;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: 300px;
  max-width: 100%;
  opacity: 0.9;
}

.card:hover {
  opacity: 1;
}

.tipo-mantenimientos-text {
  color: #122750;
  font-size: 2.4rem;
  margin: 4.8rem 0;
  line-height: 1.2;
}

.card-img {
  width: 100%;
  /* height: 300px; */
}

.card-title {
  background-color: #184490;
  color: #eef8ff;
  font-size: 2.4rem;
  font-weight: 600;
  padding: 1.2rem 1.2rem;
  text-align: center;
}

/**************************/
/* CONTACT SECTION */
/**************************/

.contact-section-title {
  font-size: 4.4rem;
  line-height: 1.2;
}

.contact-grid {
  max-width: 1200px;
  margin: 9.6rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 12.8rem;
  row-gap: 9.6rem;
}

.contact-section {
  margin: 9.6rem 5rem 5rem 5rem;
  margin: auto 0;
}

.contact-text {
  font-size: 1.8rem;
  color: #555;
  margin-bottom: 1.2rem;
}

.contact-section p {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  font-size: 1.8rem;
  font-weight: 500;
}

.contact-link:link,
.contact-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #555;
  font-weight: 500;
  font-size: 1.8rem;
}

.contact-table-heading {
  font-size: 1.8rem;
  color: #555;
}

.contact-icon {
  color: #122750;
  font-size: 3rem;
  margin-right: 1.2rem;
}

.styled-table {
  border-collapse: collapse;
  margin: 1rem 0;
  font-size: 1.4rem;
  font-family: sans-serif;
  min-width: 30rem;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.01);
}

.styled-table thead tr {
  background-color: #eef8ff;
  color: #555;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #eef8ff;
}

.cta-text-box {
  /* padding: 4.8rem 6.4rem 6.4rem 6.4rem; */
  color: #122750;
}
.cta .heading-secondary {
  color: inherit;
  margin-bottom: 3.2rem;
}
.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}
.cta-form {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
}

.cta-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
}

.cta-form input,
.cta-form textarea {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.8rem;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: #eef8ff;
  border-radius: 9px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.cta-form input::placeholder {
  color: #aaa;
}

.cta *:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(253, 242, 233, 0.5);
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  margin-top: 2rem;
  border-radius: 9px;
  border: none;
  cursor: pointer;
  font-family: inherit;
  transition: all 0.3s;
}

.btn--form {
  background-color: #122750;
  color: #fff;
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #1360e2;
  color: #fff;
}
